@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Bulk SMS Alert System!</h1>
    <p class="lead">This is a simple web application for sending bulk SMS messages.</p>
    <hr class="my-4">
    <p>Click the button below to get started.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Sms")" role="button">Send an SMS</a>
</div>

