@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Bulk SMS Alert System!</h1>
    <p class="lead">This is a simple web application for sending bulk SMS messages.</p>
    <hr class="my-4">
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Sms")" role="button">Send an SMS</a>
        }
        else
        {
            @* redirect to login page *@
            <a class="btn btn-primary btn-lg" href="@Url.Action("Login", "Account")" role="button">Login</a>

            @* <partial name="~/Views/Account/login.cshtml" /> *@
        }
    </p>
</div>
