@{
    ViewData["Title"] = "Logout";
}

@* Display a popup message when the user logs out *@
<script>
    $(document).ready(function () {
        alert("You have been logged out successfully.");
    });
</script>

@* Logout form *@
<form id="logoutForm" method="post" action="/Account/Logout">
    @Html.AntiForgeryToken()

    <button type="submit">Logout</button>
</
</form>

